

      .backboard {
        display: flex;
        height: 100vh;
        width: 100vw;
        background-color: blue;
        align-items: center;
        justify-content: center;
      }
      .button-margin {
        display: flex;
        border-radius: 10px;
      min-height: 40%;
      min-width: 40%;
        background-color: #bc8f8f;
       flex-direction: column;
        align-items: center;
        justify-content: center;
        
      }

      .username {
        margin-bottom: 10px;
      }

      .password {
        margin-bottom: 10px;
      }

      .login-center {
        display: flex;
        justify-content: center;    }

      #submit > div {
        display: flex;
        background-color: #fdf5e6;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
        width: 150px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
 